bokeh==2.4.3
boost==0.1
h5py==3.10.0
hmmer==0.2.4
mrcfile==1.5.0
numpy==1.26.3
pandas==2.2.0
pyfastx==2.0.2
pyhmmer==0.10.4
scipy==1.11.4
streamlit==1.30.0
streamlit_molstar==0.4.21
torch==2.2.0
zstandard==0.22.0
