numpy==1.24.4
scipy==1.11.1
bokeh==2.4.3
pandas==2.0.3
h5py==3.9.0
pyfastx==1.1.0
mrcfile==1.4.3
streamlit==1.28
zstandard==0.21.0
torch==2.0.1
boost==0.1
hmmer==0.2.4
pyhmmer==0.8.2
streamlit_molstar==0.4.6
